<div class="navigation">
<img (click)="showmenu = !showmenu" class="navIcon" src="./assets/images/nav.jpg" alt="nav" />
<ul [hidden]="!showmenu">
  <li><a routerLink="/simple-map">Simple Map</a></li>
  <li><a routerLink="/map-controls">Map Controls</a></li>
  <li><a routerLink="/overview-map">Overview Map</a></li>
  <li><a routerLink="/wms-layer">WMS Map</a></li>
  <li><a routerLink="/map-icons">Map Icons</a></li>
  <li><a routerLink="/cluster-map">Cluster Map</a></li>
  <li><a routerLink="/map-marker">Map Marker</a></li>
  <li><a routerLink="/cluster-sample-one">Cluster Sample One</a></li>
  <li><a routerLink="/layer-switcher">Layer Switcher</a></li>
</ul>
</div>
<router-outlet></router-outlet>
