<div class="grid-container">
    <div class="grid-1">
        <div class="sidebar">
            <h3>Base Layers</h3>
            <ul>
                <li>
                    <input type="radio" id="OSMLayer" name="baseLayerRadioButton" value="OSMLayer" checked />
                    <label for="OSMLayer">OSM Standard</label>                    
                 </li>
                 <li>
                    <input type="radio" id="StadiaMap" name="baseLayerRadioButton" value="StadiaMap" />
                    <label for="StadiaMap">Stadia Map</label>         
                </li>
                 <li>
                    <input type="radio" id="OSMHumaniterian" name="baseLayerRadioButton" value="OSMHumaniterian"  />
                    <label for="OSMHumaniterian">OSM Humaniterian</label>         
                   </li>
                 <li>
                    <input type="radio" id="XYZStamen" name="baseLayerRadioButton" value="XYZStamen"  />
                    <label for="XYZStamen">XYZ Stamen</label>          
                 </li>
                 <li>
                    <input type="radio" id="StadiaMapWatercolor" name="baseLayerRadioButton" value="StadiaMapWatercolor"  />
                    <label for="StadiaMapWatercolor">Water Color</label>         
                   </li>

                   <!-- <li>
                    <input type="radio" id="WingMap" name="baseLayerRadioButton" value="WingMap"  />
                    <label for="WingMap">Wing Map</label>         
                   </li> -->


            </ul>
        </div>
    </div>
    <div class="grid-2">
        <div id="layerSwither" class="mapwrapper"></div>
    </div>
</div>

